.forPC
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(187, 195, 202);
}

.forPHONE
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(208, 219, 204);
    display: none;
}

@media screen and (max-width: 600px) 
{
    .forPHONE
    {
        display: block; /*visualize the div*/
    }

    .forPC
    {
        display: none;
    }
}